.ag,
.disag {
    height: 65px;
    width: 65px;
    position: relative;
}

.filled_wrap,
.empty_wrap {
    height: 100%;
    width: 100%;
    position: absolute;
}

.ag_disag_img {
    height: 50px;
}

.ag_disag_btn {
    cursor: pointer;
    background: none;
    border: none;
}

.ag_filled,
.disag_filled {
    display: none;
}