<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <title>like&unlike</title>
    <style>
        .ag,
        .disag {
            height: 65px;
            width: 65px;
            position: relative;
        }

        .filled_wrap,
        .empty_wrap {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .ag_disag_img {
            height: 50px;
        }

        .ag_disag_btn {
            cursor: pointer;
            background: none;
            border: none;
        }

        .ag_filled,
        .disag_filled {
            display: none;
        }
    </style>
</head>

<body>
    <div class="thumb_btn">
        <div class="thumb_up">
            <div class="ag_disag_wrap">
                <div class="ag">
                    <div class="ag_filled filled_wrap">
                        <button type="button" class="ag_disag_btn ag_filled_btn"><img class="ag_filled_img ag_disag_img"
                                src="../../resources/img/좋아요.png" alt=""></button>
                    </div>
                    <div class="ag_empty empty_wrap">
                        <button type="button" class="ag_disag_btn ag_empty_btn"><img class="ag_empty_img ag_disag_img"
                                src="../../resources/img/빈좋아요.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb_count">
            <span style="font-size: 8px; padding-left: 0px;">공감 수</span>
        </div>
        <div class="thumb_down">
            <div class="ag_disag_wrap">
                <div class="disag">
                    <div class="disag_filled filled_wrap">
                        <button type="button" class="ag_disag_btn disag_filled_btn"><img
                                class="ag_filled_img ag_disag_img" src="../../resources/img/싫어요.png" alt=""></button>
                    </div>
                    <div class="disag_empty empty_wrap">
                        <button type="button" class="ag_disag_btn disag_empty_btn"><img
                                class="ag_empty_img ag_disag_img" src="../../resources/img/빈싫어요.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb_count">
            <span style="font-size: 8px; padding-left: 0px;">비공감 수</span>
        </div>
    </div>
</body>
<script>
    $(".ag_empty_btn").each(function (index, el) {
        $(el).click(function () {
            // 누른 버튼 display none으로
            $(el).parent().css("display", "none");
            // 숨겨진 버튼 display block
            $(el).parent().prev().css("display", "block");

            // 빈 좋아요 버튼을 눌러서 좋아요 표시를 하면 싫어요 버튼을 비활성화로
            $(el).parentsUntil(".thumb_btn").eq(3).siblings(".thumb_down").find(".ag_disag_btn").each(function (i, e) {
                $(e).addClass("disabled");
                $(e).css("pointer-events", "none")
            })
        })
    })

    $(".ag_filled_btn").each(function (index, el) {
        console.log($(el));
        $(el).click(function () {
            // 누른 버튼 display none으로
            $(el).parent().css("display", "none");
            // 숨겨진 버튼 display block
            $(el).parent().next().css("display", "block");

            // 꽉찬 좋아요 버튼을 눌러서 좋아요 표시를 제거하면 싫어요 버튼을 활성화로
            $(el).parentsUntil(".thumb_btn").eq(3).siblings(".thumb_down").find(".ag_disag_btn").each(function (i, e) {
                $(e).removeClass("disabled");
                $(e).css("pointer-events", "auto")
            })
        })
    })

    $(".disag_empty_btn").each(function (index, el) {
        $(el).click(function () {
            // 누른 버튼 display none으로
            $(el).parent().css("display", "none");
            // 숨겨진 버튼 display block
            $(el).parent().prev().css("display", "block");

            // 빈 싫어요 버튼을 눌러서 싫어요 표시를 하면 좋아요 버튼을 비활성화로
            $(el).parentsUntil(".thumb_btn").eq(3).siblings(".thumb_up").find(".ag_disag_btn").each(function (i, e) {
                $(e).addClass("disabled");
                $(e).css("pointer-events", "none")
            })
        })
    })

    
    $(".disag_filled_btn").each(function (index, el) {
        $(el).click(function () {
            // 누른 버튼 display none으로
            $(el).parent().css("display", "none");
            // 숨겨진 버튼 display block
            $(el).parent().next().css("display", "block");

            // 꽉찬 싫어요 버튼을 눌러서 싫어요 표시를 제거하면 좋아요 버튼을 활성화로
            $(el).parentsUntil(".thumb_btn").eq(3).siblings(".thumb_up").find(".ag_disag_btn").each(function (i, e) {
                $(e).removeClass("disabled");
                $(e).css("pointer-events", "auto")
            })
        })
    })


</script>

</html>