<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/starRating.css">
    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <div class="rating">
            <label class="rating__label rating__label--half" for="starhalf">
                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--full" for="star1">
                <input type="radio" id="star1" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--half" for="star1half">
                <input type="radio" id="star1half" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--full" for="star2">
                <input type="radio" id="star2" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--half" for="star2half">
                <input type="radio" id="star2half" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--full" for="star3">
                <input type="radio" id="star3" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--half" for="star3half">
                <input type="radio" id="star3half" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--full" for="star4">
                <input type="radio" id="star4" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--half" for="star4half">
                <input type="radio" id="star4half" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
            <label class="rating__label rating__label--full" for="star5">
                <input type="radio" id="star5" class="rating__input" name="rating" value="">
                <span class="star-icon"></span>
            </label>
        </div>
    </div>
</body>
<script src="../../resources/assets/js/starRating.js">
   
</script>

</html>