<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginAdmin">
		SELECT
				ADMIN_NO
			  , ADMIN_ID
			  , ADMIN_PWD
			  , ADMIN_NAME
			  , ADMIN_PHONE
			  , ADMIN_STATUS
		 FROM ADMIN
		WHERE ADMIN_ID = ?
		  AND ADMIN_PWD = ?
		  AND ADMIN_STATUS IN ('Y', 'N')
	</entry>

	<entry key="insertAdmin">
		INSERT
			INTO ADMIN
			(
				ADMIN_NO
			  , ADMIN_ID
			  , ADMIN_PWD
			  , ADMIN_NAME
			  , ADMIN_PHONE
			)
		VALUES
		(
			SEQ_ADMIN_NO.NEXTVAL
			,?
			,?
			,?
			,?
		)
	</entry>
	
	<entry key="idCheck">
		SELECT
			COUNT(*) COUNT
		 FROM ADMIN
		WHERE ADMIN_ID = ?
	</entry>

</properties>