<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectMainList">
		SELECT MV_NO
			, MV_NAME
			, MV_OPENDATE
			, MV_STORY
			, FPAGE_EXPOSED 
			, MPAGE_EXPOSED
			, MV_POSTER
			, MV_PREVIEW
			, MV_STATUS
		FROM MOVIE
		WHERE MV_STATUS = 'Y'
	</entry>
	
	<!-- 관리자 영화 조회 페이징처리 [수민]-->
		<entry key="selectMovieListCount">
			SELECT COUNT(*) COUNT
			  FROM MOVIE
			 WHERE MV_STATUS = 'Y'
		</entry>
		
				
	<!-- 관리자 영화 조회  [수민] -->
		<entry key="selectMovieList">
			SELECT *
				FROM(
					SELECT ROWNUM RNUM, A.*
					  FROM (
					  	SELECT
						    M.MV_NO,
						    M.MV_NAME,
						    M.MV_DATE,
						    M.VIEW_RATING,
						    M.MV_OPENDATE,
						    LISTAGG(C.CATEGORY_NAME, ', ') WITHIN GROUP (ORDER BY C.CATEGORY_NAME) AS CATEGORY_NAMES
						FROM 
						    MOVIE M
						LEFT JOIN 
						    MOVIE_CATEGORY MC ON MC.MV_NO = M.MV_NO
						LEFT JOIN 
						    CATEGORY C ON MC.CATEGORY_NO = C.CATEGORY_NO
						WHERE 
						    M.MV_STATUS = 'Y'
						GROUP BY 
						    M.MV_NO, M.MV_NAME, M.MV_DATE, M.VIEW_RATING, M.MV_OPENDATE
						ORDER BY 
						    M.MV_NO DESC
					  		) A
					)
				WHERE RNUM BETWEEN ? AND ?
				  
		</entry>

		<!-- 관리자 영화조회 검색기능 [수민] -->
		<entry key="searchMovie">
			SELECT  
				M.MV_NO,
			    M.MV_NAME,
			    M.MV_DATE,
			    M.VIEW_RATING,
			    M.MV_OPENDATE,
			    LISTAGG(C.CATEGORY_NAME, ', ') WITHIN GROUP (ORDER BY C.CATEGORY_NAME) AS CATEGORY_NAMES
			FROM MOVIE M
			LEFT JOIN 
			    MOVIE_CATEGORY MC ON MC.MV_NO = M.MV_NO
			LEFT JOIN 
			    CATEGORY C ON MC.CATEGORY_NO = C.CATEGORY_NO
			WHERE MV_STATUS = 'Y'
			  AND MV_NAME LIKE '%' || ? || '%'
			GROUP BY 
			    M.MV_NO, M.MV_NAME, M.MV_DATE, M.VIEW_RATING, M.MV_OPENDATE
			ORDER BY 
			    M.MV_NO DESC
		</entry>
		
		<!-- 관리자 영화 삭제 [수민] -->
		<entry key="deleteMovie">
			UPDATE
				   MOVIE
			   SET MV_STATUS = 'N'
			 WHERE MV_NO = ?
			 
		</entry>
		
		<!-- 관리자 영화 삭제 시 같이 등록한 이미지 status값 변경 [수민] -->
		<entry key="deleteMovieAttachment">
			UPDATE
				  ATTACHMENT
			  SET FILE_STATUS = 'N'
			WHERE REF_TYPE IN (1 ,2)
			  AND REF_NO = ?
		</entry>
		
		<!-- 관리자 영화 상세 조회 [수민] -->
		<!-- 영화관련 쿼리 / 영화추가 파일(movie-mapper)은에서 가져옴-->
		<entry key="MovieListDetail">
			SELECT
			      M.MV_NO
			    , M.MV_NAME
			    , M.MV_OPENDATE
			    , M.MV_NATION
			    , M.MV_RTIME
			    , M.MV_STORY
			    , M.FPAGE_EXPOSED
			    , M.VIEW_RATING
			    , M.CURRENT_SCREENING
			    , M.MV_POSTER
			    , M.MV_PREVIEW
			    , LISTAGG(C.CATEGORY_NAME, ', ') WITHIN GROUP (ORDER BY C.CATEGORY_NAME) AS CATEGORY_NAMES
			    , NM.NM_USER_REQUEST
			    , NM.MEM_NO
			    , NM.ADMIN_NO
			FROM MOVIE M
			LEFT JOIN 
			    MOVIE_CATEGORY MC ON MC.MV_NO = M.MV_NO
			LEFT JOIN
			    CATEGORY C ON MC.CATEGORY_NO = C.CATEGORY_NO
			LEFT JOIN 
			    NO_MOVIE_ENROLL NM ON NM.NM_TITLE = M.MV_NAME
			WHERE M.MV_NO = ?
			GROUP BY 
			    M.MV_NO, M.MV_NAME, M.MV_OPENDATE, M.MV_NATION, M.MV_RTIME, M.MV_STORY, M.FPAGE_EXPOSED, 
			    M.VIEW_RATING, M.CURRENT_SCREENING, M.MV_POSTER, M.MV_PREVIEW, NM.NM_USER_REQUEST, NM.MEM_NO, NM.ADMIN_NO
			ORDER BY 
			    M.MV_NO DESC		
		</entry>
		
		<!-- 관리자 영화 상세조회 시 인물관련 쿼리 [수민] -->
		<entry key="moiveListDetailPerson">
			SELECT P_NO, P_NAME, CASTING, P_JOB, P_BD, P_NATION, P_FILE, MOVIE_NO
	        FROM PERSON
	        JOIN CASTING
	        ON P_NO = PERSON_NO
	        WHERE MOVIE_NO = ?
		</entry>
		
		
		<!-- 관리자 영화 카테고리 관리탭 조회 [수민] -->
		<entry key="movieCategoryList">
			SELECT
				  CATEGORY_NO
				, CATEGORY_NAME
				, CATEGORY_STATUS
			FROM CATEGORY
		</entry>
		
		
		
		<!-- 관리자 영화 카테고리 삭제 [수민] -->
		<entry key="deleteCategory">
			UPDATE
				  CATEGORY
			  SET CATEGORY_STATUS = 'N'
			WHERE  CATEGORY_NAME = ?
		</entry>
		
		<!-- 관리자 카테고리 등록 [수민]-->
		<entry key="addCategory">
			INSERT
				INTO CATEGORY
				(
					CATEGORY_NO
				  , CATEGORY_NAME
				  , CATEGORY_DATE
				  , CATEGORY_STATUS
				)
				VALUES
				(
					SEQ_CATEGORY_NO.NEXTVAL
				  , ?
				  , DEFAULT
				  , DEFAULT
				)
		</entry>
		
		<!-- 관리자 카테고리 수정 [수민] -->
		<entry key="updateCategory">
			UPDATE
				    CATEGORY
				SET CATEGORY_NAME = ?
			  WHERE CATEGORY_NO = ?
		</entry>
		
		<!-- 관리자 인물 조회 페이징처리 [수민]-->
		<entry key="selectCastingListCount">
			SELECT COUNT(*) COUNT
			  FROM PERSON
		</entry>
		
		<!-- 관리자 인물 조회 [수민] -->
		<entry key="selectPersonList">
			SELECT *
				FROM(
					SELECT ROWNUM RNUM, A, *
					FROM(
						SELECT
							  P_NO
							, P_NAME
							, P_JOB
							, P_BD
							, P_NATION
							, P_FILE
						FROM PERSON
						)A
					)
			WHERE RNUM BETWEEN ? AND ?
		</entry>
		
		


</properties>