<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 관리자 공지사항 페이지에 보여지는 공지사항 목록 sql문 [수민] -->
		<entry key="selectComuNoticeList">
			SELECT *
				FROM(
					SELECT ROWNUM RNUM, A.*
					  FROM (
					  	SELECT
					  		NOTICE_NO
					  	  , NOTICE_DATE
					  	  , ADMIN_ID
					  	  , NOTICE_TITLE
					  	  , NOTICE_FIX
					 	FROM NOTICE N
					 	JOIN ADMIN AD ON N.ADMIN_NO = AD.ADMIN_NO
					 	WHERE N.NOTICE_STATUS = 'Y'
					 	ORDER
					 		BY NOTICE_NO DESC
					  		) A
					)
				WHERE RNUM BETWEEN ? AND ?
				  
		</entry>

	<!-- 관리자 공지사항 페이징처리 -->
		<entry key="selectNoticeListCount">
			SELECT COUNT(*) COUNT
			  FROM NOTICE
			 WHERE NOTICE_STATUS = 'Y'
		</entry>




</properties>