<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<!-- =============================== 김지우 ====================================================== -->
	<!-- 신고회원 조회, 페이징용 쿼리 -->
	<entry key="selectReportMemberListCount">
	<![CDATA[
		SELECT COUNT(*) AS COUNT
		FROM (
		    SELECT M.MEM_ID AS MEM_ID,
		           M.NICKNAME AS NICKNAME,
		           (SELECT COUNT(*) FROM REPORT WHERE REPORTED_MEM_NO = M.MEM_NO) AS REPORTCOUNT,
		           M.SIGNIN_DATE AS SIGNIN_DATE,
		           (SELECT COUNT(*) FROM BOARD WHERE MEM_NO = M.MEM_NO) AS BOARDCOUNT,
		           (SELECT COUNT(*) FROM REPLY WHERE MEM_NO = M.MEM_NO) AS REPLYCOUNT
		    FROM MEMBER M
		    WHERE (SELECT COUNT(*) FROM REPORT WHERE REPORTED_MEM_NO = M.MEM_NO) >= 1
		    ORDER BY MEM_ID DESC) B
		]]>
	</entry>
	
	<!-- 신고회원 조회, 페이징용 쿼리 -->
	<entry key="selectReportMemberList">
	<![CDATA[
		SELECT *
			FROM(
			    SELECT ROWNUM RNUM, A.*
			    FROM (
			              SELECT M.MEM_ID AS MEM_ID
			             , M.NICKNAME AS NICKNAME
			             , (SELECT COUNT(*) FROM REPORT WHERE REPORTED_MEM_NO = M.MEM_NO) AS REPORTCOUNT
			             , M.SIGNIN_DATE AS SIGNIN_DATE
			             , (SELECT COUNT(*) FROM BOARD WHERE MEM_NO = M.MEM_NO) AS BOARDCOUNT
			             , (SELECT COUNT(*) FROM REPLY WHERE MEM_NO = M.MEM_NO) AS REPLYCOUNT
			             , (SELECT REPORT_CONTENT FROM REPORT WHERE REPORTED_MEM_NO = M.MEM_NO) AS REPORT_CONTENT
			        FROM MEMBER M
                    WHERE (SELECT COUNT(*) FROM REPORT WHERE REPORTED_MEM_NO = M.MEM_NO) >= 1
			        ORDER BY MEM_ID DESC
			    ) A
		)
		WHERE RNUM BETWEEN ? AND ?
		]]>
	</entry>
	
	<entry key="selectRestrictedMemberListCount">
		SELECT COUNT(*) AS COUNT
		FROM REPORTED_MEM
	</entry>
	
	<!-- 이용제한회원 조회, 페이징용 쿼리 -->
	<entry key="selectRestrictedMemberList">
		SELECT *
		    FROM(
		        SELECT ROWNUM RNUM, A.*
		        FROM (
		                  SELECT   MEM_NO
		                         , MEM_ID
		                         , LIMIT_REASON
		                         , CASE
		                               WHEN ACTIVITY_STATUS = 'B' THEN '강제탈퇴'
		                               WHEN ACTIVITY_STATUS = 'S' THEN '활동중지 ' || NVL(TO_CHAR(TO_DATE(END_DATE) - TO_DATE(START_DATE) + 1), '-') || '일'
		                           END AS ACTIVITY_STATUS
		                         , CASE
		                               WHEN ACTIVITY_STATUS = 'B' THEN '-'
		                               ELSE START_DATE || ' - ' || END_DATE
		                           END AS SUSPEND_DATE
		                         FROM MEMBER 
		                         JOIN REPORTED_MEM USING (MEM_NO)
		                         ORDER BY MEM_NO DESC
		        ) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
<!-- =============================== 김지우 ====================================================== -->

<!-- ======================== [용훈] 탈퇴회원조회 =========================================== -->
	<entry key="cancelMemberList">
		SELECT MEM_ID, ADMIN_NO, CANCEL_DATE
		FROM CANCELED_MEM C
		JOIN MEMBER M USING (MEM_NO)
	</entry>
<!-- ======================== 용훈 =========================================== -->
</properties>